registry = http://nexus.yfb.sunline.cn:8099/nexus3/repository/npm-sunline/
sass_binary_site = http://proxy.yfb.sunline.cn/nexus3/repository/npm-taobao-mirrors/node-sass
dist_url = http://proxy.yfb.sunline.cn/nexus3/repository/npm-taobao-mirrors/node
python_mirror = http://proxy.yfb.sunline.cn/nexus3/repository/npm-taobao-mirrors/python
